.admin-panel-container {
    display: flex;
    height: 100%;
  }
  
  .employee-list-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    height: 600px;
    background-color: rgb(193, 242, 242);
    border-radius: 30px;
    box-shadow: 1px 1px 4px 1px black;
    overflow-y: auto;
  }
  
  .employee-list-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 20px;
    font-weight: 700;
  }
  
  .employee-item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 20px 0px;
    color: #454545;
    font-size: 16px;
    font-weight: 500;
    align-items: center;

  }
  
  .remove-icon {
    cursor: pointer;
    margin: auto;
  }
  
  .employee-list {
    width: 100%;
    overflow-y: auto; /* Add scrollbar if content exceeds container height */
    line-height: 20px;
  }
  
 